* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

:root {
    --width-containeir: 40vw;
    --height-contaneir: 60%;
    --radius: 10px;
    --shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

body {
    background: linear-gradient(320deg, rgb(89, 10, 105) , rgb(54, 87, 236) , purple);
    background-size: cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
}

.container {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    width: var(--width-containeir);
}

.main {
    height: var(--height-contaneir);
}

.header {
    height: 100px;
}

.contaneir-buttons {
    position: relative;
    min-height: 500px;
    border: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    min-width: 350px;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(12, minmax(0, 1fr));
    border-radius: var(--radius);
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--shadow);
}

.title {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1;
    line-height: 1;
    color: white;
}

.button {
    grid-column: span 4 / span 4;
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow);
    border: unset;
    color: rgb(88, 42, 131);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4rem;
    border-radius: var(--radius);
}

.button:hover {
    opacity: 0.7;
}

.contaneir-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text-about {
    color: white;
    font-size: 1.5rem;
}

#text-player-turn {
    margin-top: 10px;
    color: rgb(219, 123, 13);
    font-size: 1.5rem;
}

#text-winner {
    align-self: center;
    margin-top: 10px;
    font-size: 2rem;
    color: white;
    text-transform: capitalize;
}

#button-restart {
    box-shadow: var(--shadow);
    cursor: pointer;
    border: unset;
    border-radius: calc(var(--radius) * 2);
    color: white;
    width: 120px;
    height: 50px;
    line-height: 1;
    text-align: center;
    background-color: rgb(89, 10, 105);
}


#button-restart:hover {
    opacity: 0.9;
}

